* {
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  margin: 0 auto;
  background: linear-gradient(0, rgb(238, 201, 192), #FAF9F5 70%);
  min-height: 100vh;
}

.App {
  text-align: center;
}

#root {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  padding: 0 0 120px;
}
