.navigation {
    display: grid;
    font-size: 20px;
    padding: 20px 0;
    background: #878788;
    grid-auto-flow: column;
    justify-content: space-around;
    align-items: flex-end;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    z-index: 10;
}

.navigation a:link, .navigation a:visited {
    text-decoration: none;
    color: #272623;
}
