.memoPosts {
    .logoWrapper {
        display: flex;
        justify-content: center;
        .logo {
            font-size: 32px;
    margin: 13px;
    margin-bottom: 51px;
    font-family: 'Anaheim', sans-serif;
        }
    }

    .about {
        &:before {
            display: block;
            content: '';
            width: 100vw;
            height: 296px;
            background: url('https://i.ibb.co/BBkXCjg/image.png') 0 0 no-repeat / cover;
            background-size: cover;
            margin-bottom: 70px;
        }
    }

    .userInfo {
        display: flex;
        padding: 5px 10px;
        align-items: center;

        img {
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 50%;
            padding: 5px 10px 5px 5px;
        }

        .user {
            font-size: 15px;
        }
    }
}