.memoPosts {
    width: 100vw;
    font-family: 'Noto Serif KR', serif;

    .memoPost{
        background: linear-gradient(90deg, #fbf3e8, #F3E0C7);
        color: #5a5a55;
        margin: 30px 15px;;
        padding: 10px;
        box-shadow: 2px 2px 10px rgba(0,0,0,.2);

        &:nth-child(2n) {
            background: linear-gradient(90deg, #394569, #18254a);
            color: #ffffff;
        }

        &:nth-child(3n) {
            background: linear-gradient(90deg, #e7baaa, #b37c69);
            color: #261e30;
        }

        &:nth-child(4n) {
            background: linear-gradient(90deg, #708574, #55695b);
            color: #d4cbcb;
        }

        &:nth-child(5n) {
            background: linear-gradient(90deg, #E4E9ED, #bfc7cd);
            color: #10162b;
        }

        &:nth-child(6n) {
            background: linear-gradient(90deg, #d6b2a9, #b58f84);
            color: #404040;
        }

        .highlights {
            margin: 10px;
            padding: 20px;
            line-height: 170%;
            font-weight: 600;
        }

        .memoInfo {
            padding: 15px;

            .addedMemo {
                font-family: 'Nanum Gothic', sans-serif;
            }

            .bookInfo, .addedMemo, .createdAt {
                padding-top: 5px;
            }

            .bookInfo {
                font-size: 28px;
                line-height: 1.2;
            }
        }
    }
}

