.memoPosts {
    width: 100vw;
    font-family: 'Noto Serif KR', serif;

    .memoPost{
        margin: 30px 15px;;
        padding: 10px;
        background: linear-gradient(90deg, #252b64, #191D42);
        color: #E4C3D3;
        box-shadow: 2px 2px 10px rgba(0,0,0,.2);

        &:nth-child(2n) {
            background: linear-gradient(90deg, #006e91, #014C63);
            color: #ffffff;
        }

        &:nth-child(3n) {
            background: linear-gradient(90deg, #EDEDEF, #C8C6C7);
            color: #181818;
        }

        &:nth-child(4n) {
            background: linear-gradient(90deg, #e5dbb3, #B6B096);
            color: #191D42;
        }

        &:nth-child(5n) {
            background: linear-gradient(90deg, #EDEDEF, #C8C6C7);
            color: #014C63;
        }

        &:nth-child(6n) {
            background: linear-gradient(90deg, #cccfd6, #B0B7C1);
            color: #B77699;
        }

        .highlights {
            margin: 10px;
            border: 0.2px solid rgb(206, 206, 206);
            padding: 20px;
            border-radius: 10px;
            line-height: 170%;
            font-weight: 600;
        }

        .memoInfo {
            padding: 15px;

            .addedMemo {
                font-family: 'Nanum Gothic', sans-serif;
            }

            .bookInfo, .addedMemo, .createdAt {
                padding-top: 5px;
            }

            .bookInfo {
                font-size: 28px;
                line-height: 1.2;
            }
        }
    }
}

