.bookPosts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: rgba(37, 25, 21, 0.7);
    padding-top: 20px;
    padding-bottom: 120px;

    .bookList {
        display: grid;
        grid-auto-flow: column;
        width: 80vw;
        margin: 20px 0px;
        grid-auto-columns: 1fr 2fr;
        justify-content: center;
        align-items: center;
    }

    img {
        height: 120px;
        width: 82.75px;
    }

    .bookContents {
        color: rgb(255, 248, 240);
        display: flex;
        flex-direction: column;
        padding: 20px 10px;

        .title {
            font-size: 18px;
            padding-bottom: 10px;
        }
    }
}
