.imgUpload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 100vh;

    .filebox {
        label {
            display: inline-block;
            padding: .5em .75em;
            color: #999;
            font-size: inherit;
            line-height: normal;
            vertical-align: middle;
            background-color: #fdfdfd;
            cursor: pointer;
            border: 1px solid #ebebeb;
            border-bottom-color: #e2e2e2;
            border-radius: .25em;
            margin: 20px;
        }
        input {
            position: absolute;
            width: 0px;
            height: 0px;
            padding: 0;
            margin: 0;
            border: 0;
        }
    }

    .cropImg {
        margin-top: 20px;
        width: 100vw;
        height: 40vh;
        background-color: #F5F7F8;
    }

    .textify {
        width: 70vw;
        height: 20vh;
    }

    .memo {
        margin-bottom: 100px;
    }
}
